<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/components.css" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Fraunces:wght@400;600;700;900&display=swap"
        rel="stylesheet">
    <title>Frontend Mentor | Sunnyside agency landing page</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo-container">
                <img class="logo" src="./images/logo.svg" />
            </div>
            <nav class="navbar">
                <ul class="menu top-menu">
                    <li>
                    </li>
                    <li><a href="#" id="About" class="top-bar-link link-active">About</a></li>
                    <li><a href="#" id="Services" class="top-bar-link">Services</a></li>
                    <li><a href="#" id="Projects" class="top-bar-link">Projects</a></li>
                    <li><a href="#" id="Contact" class="top-bar-link">Contact</a></li>
                </ul>
                <div class="icon icon-ham">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
        <div class="front">
            <div class="title front__title">
                <h1>WE ARE CREATIVES</h1>
            </div>
            <div class="front__arrow">
                <img src="./images/icon-arrow-down.svg" />
            </div>
        </div>
    </header>
    <script>
        const menuNav = document.querySelector('.top-menu');
        const menuNavButton = document.querySelector('.icon-ham');
        const menuNavLinks = document.querySelectorAll('.top-bar-link');
        menuNavButton.addEventListener('click', openMenuNav);
        menuNavLinks.forEach(link => {
            link.addEventListener('click', menuNavActive);
        })
        function openMenuNav() {
            menuNav.classList.toggle("menu-active");
            menuNavButton.classList.toggle("active");
        }
        function menuNavActive() {
            const linkActive = document.querySelector('.link-active')
            if (this.id !== linkActive.id) {
                this.classList.add('link-active');
                linkActive.classList.remove('link-active');
            }
        }
    </script>
</body>

</html>