:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-des-blue: hsl(229, 23%, 23%);
    --dark-greyish-blue: hsl(227, 10%, 46%);
    --width-mobile: 375px;
    --width-screen: 1440px;
    --dark-gray: hsl(0, 0%, 59%);
}
@media screen {
  
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: var(--dark-cyan);
}
  
  main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: top -70vh, bottom -85vh;
    background-position-x: right 50vw, left 50vw;
}

.card{
  display:flex;
  min-width: 335px;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
}

p{
  margin: 10px auto;
  font-weight: 400;
}

.card__body{
  display: flex;
  flex-direction: column;
  background: white;
}
.card__body > p:first-child{
  margin-top: 60px;
  margin-bottom: 3px;
}
.card__header{
  background: url('./images/bg-pattern-card.svg');
  border-radius: 15px 15px 0 0;
  min-height: 106px;
}

.card > div{
  padding: 20px;
}

.img{
  border-radius:50%;
  border: solid 5px white;
  position: absolute;
  transform: translate3d(-50%, 33%, 0);
}

.title{
  font-weight: 700;
}

.age{
  color: var(--dark-greyish-blue);
}

.label{
  color: var(--dark-gray);
}

.label .city{
  font-size: 0.8em;
}

.stats__label{
  font-size: 0.6em;
  letter-spacing: 2px;
}

.stats{
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
  background: white;
  box-shadow: 0 -1px 0 0 rgb(232, 230, 230);
}

.stats__section{
  flex-direction: row;
}
